<a href="https://colab.research.google.com/github/wangshouh/LearnDataCleaning/blob/main/ch1/cleardata_ch1_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
percapitaGDP = pd.read_excel(
    "https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook/raw/master/Chapter01/data/GDPpercapita.xlsx",
    sheet_name="OECD.Stat export",
    skiprows=4,
    skipfooter=1,
    usecols="A,C:T"                                                       
                             )

In [ ]:
percapitaGDP.head()

                         Year   2001   2002   2003  ...   2015   2016   2017   2018
0          Metropolitan areas    NaN    NaN    NaN  ...    NaN    NaN    NaN    NaN
1              AUS: Australia     ..     ..     ..  ...     ..     ..     ..     ..
2       AUS01: Greater Sydney  43313  44008  45424  ...  50075  50519  50578  49860
3    AUS02: Greater Melbourne  40125  40894  41602  ...  42928  42671  43025  42674
4     AUS03: Greater Brisbane  37580  37564  39080  ...  44388  45723  46876  46640

[5 rows x 19 columns]

In [ ]:
percapitaGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    702 non-null    object
 1   2001    701 non-null    object
 2   2002    701 non-null    object
 3   2003    701 non-null    object
 4   2004    701 non-null    object
 5   2005    701 non-null    object
 6   2006    701 non-null    object
 7   2007    701 non-null    object
 8   2008    701 non-null    object
 9   2009    701 non-null    object
 10  2010    701 non-null    object
 11  2011    701 non-null    object
 12  2012    701 non-null    object
 13  2013    701 non-null    object
 14  2014    701 non-null    object
 15  2015    701 non-null    object
 16  2016    701 non-null    object
 17  2017    701 non-null    object
 18  2018    701 non-null    object
dtypes: object(19)
memory usage: 104.3+ KB

In [ ]:
percapitaGDP.rename(columns={"Year":"metro"}, inplace=True)

In [ ]:
percapitaGDP.metro = percapitaGDP.metro.str.strip()

In [ ]:
percapitaGDP.dtypes

metro    object
2001     object
2002     object
2003     object
2004     object
2005     object
2006     object
2007     object
2008     object
2009     object
2010     object
2011     object
2012     object
2013     object
2014     object
2015     object
2016     object
2017     object
2018     object
dtype: object

In [ ]:
for col in percapitaGDP.columns[1:]:
  percapitaGDP[col] = pd.to_numeric(percapitaGDP[col], errors='coerce')
  percapitaGDP.rename(columns={col:'pcGDP'+col}, inplace=True)

In [ ]:
percapitaGDP.dtypes

metro         object
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
dtype: object

In [ ]:
percapitaGDP.describe()

          pcGDP2001     pcGDP2002  ...      pcGDP2017      pcGDP2018
count    424.000000    440.000000  ...     445.000000     441.000000
mean   41263.658019  41015.070455  ...   47489.089888   48032.668934
std    11877.960193  12536.516772  ...   15463.803389   15719.725615
min    10988.000000  11435.000000  ...    2745.000000    2832.000000
25%    33139.250000  32636.000000  ...   37316.000000   37908.000000
50%    39543.500000  39683.500000  ...   45385.000000   46057.000000
75%    47971.750000  48611.000000  ...   56023.000000   56638.000000
max    91488.000000  93566.000000  ...  122242.000000  127468.000000

[8 rows x 18 columns]

In [ ]:
percapitaGDP.dropna(subset=percapitaGDP.columns[1:], how='all', inplace=True)
percapitaGDP.describe()

          pcGDP2001     pcGDP2002  ...      pcGDP2017      pcGDP2018
count    424.000000    440.000000  ...     445.000000     441.000000
mean   41263.658019  41015.070455  ...   47489.089888   48032.668934
std    11877.960193  12536.516772  ...   15463.803389   15719.725615
min    10988.000000  11435.000000  ...    2745.000000    2832.000000
25%    33139.250000  32636.000000  ...   37316.000000   37908.000000
50%    39543.500000  39683.500000  ...   45385.000000   46057.000000
75%    47971.750000  48611.000000  ...   56023.000000   56638.000000
max    91488.000000  93566.000000  ...  122242.000000  127468.000000

[8 rows x 18 columns]

In [ ]:
percapitaGDP.head()

                      metro  pcGDP2001  ...  pcGDP2017  pcGDP2018
2     AUS01: Greater Sydney    43313.0  ...    50578.0    49860.0
3  AUS02: Greater Melbourne    40125.0  ...    43025.0    42674.0
4   AUS03: Greater Brisbane    37580.0  ...    46876.0    46640.0
5      AUS04: Greater Perth    45713.0  ...    66424.0    70390.0
6   AUS05: Greater Adelaide    36505.0  ...    40115.0    39924.0

[5 rows x 19 columns]

In [ ]:
percapitaGDP.metro.count() == percapitaGDP.metro.nunique()

True

In [ ]:
percapitaGDP.set_index('metro', inplace=True)

In [ ]:
percapitaGDP.head()

                          pcGDP2001  pcGDP2002  ...  pcGDP2017  pcGDP2018
metro                                           ...
AUS01: Greater Sydney       43313.0    44008.0  ...    50578.0    49860.0
AUS02: Greater Melbourne    40125.0    40894.0  ...    43025.0    42674.0
AUS03: Greater Brisbane     37580.0    37564.0  ...    46876.0    46640.0
AUS04: Greater Perth        45713.0    47371.0  ...    66424.0    70390.0
AUS05: Greater Adelaide     36505.0    37194.0  ...    40115.0    39924.0

[5 rows x 18 columns]

In [ ]:
percapitaGDP.loc['AUS01: Greater Sydney']

pcGDP2001    43313.0
pcGDP2002    44008.0
pcGDP2003    45424.0
pcGDP2004    45837.0
pcGDP2005    45423.0
pcGDP2006    45547.0
pcGDP2007    45880.0
pcGDP2008    45225.0
pcGDP2009    45900.0
pcGDP2010    45672.0
pcGDP2011    46535.0
pcGDP2012    47350.0
pcGDP2013    47225.0
pcGDP2014    48510.0
pcGDP2015    50075.0
pcGDP2016    50519.0
pcGDP2017    50578.0
pcGDP2018    49860.0
Name: AUS01: Greater Sydney, dtype: float64